@import '../UI/variables';

.body-dark {
  width: 100%;
  min-height: 100vh;
  background: $darkMainBackgrounds;

  .header {
    position: fixed;
    background: $darkMainBackgrounds;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 20px;
    box-shadow: -3px -1px 8px $darkBoxShadowColor;
    z-index: 1;

    .header__icon {
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
    
    .user {
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: space-between;
      height: 60px;
      width: 170px;
      box-shadow: 0px 0px 8px #FFC107;
      background: #ffb743;
      border-radius: $borderRadius;
      position: relative;
      padding: 10px;
    
      .user__photo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    
      .user__membership {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -10px;
        top: -10px;
        background: #3F51B5;
        padding: 5px;
        border-radius: $borderRadius;
      }
    
      .user__data {
        display: flex;
        flex-direction: column;
        font-weight: 500;
      }
    }
  }

  .wrapper {
    width: 80vw;
    min-height: calc(100vh - 130px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 90px;
    border-radius: $borderRadius;
    background: inherit;
    overflow: hidden;

    .sidebar {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 220px;
      background-color:$darkMinorBackgrounds;
      border-bottom-right-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
    
      .button {
        border: none;
        background: none;
        cursor: pointer;
        transition: $buttonScaleTransition;
    
        &:hover {
          transform: scale($buttonScaleTransform);
          transition: $buttonScaleTransition;
        }
      }
    
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.body-light {
  width: 100%;
  min-height: 100vh;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 90px;
    padding: 0px 20px;
    box-shadow: 0px -5px 8px rgb(0 0 0 / 35%);
    z-index: 1;

    .header__icon {
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
    
    .user {
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: space-between;
      height: 60px;
      width: 170px;
      box-shadow: 0px 0px 8px #FFC107;
      background: #ffb743;
      border-radius: $borderRadius;
      position: relative;
      padding: 10px;
    
      .user__photo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    
      .user__membership {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -10px;
        top: -10px;
        background: #3F51B5;
        padding: 5px;
        border-radius: $borderRadius;
      }
    
      .user__data {
        display: flex;
        flex-direction: column;
        font-weight: 500;
      }
    }
  }

  .wrapper {
    width: 80vw;
    min-height: calc(100vh - 130px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 90px;
    border-radius: $borderRadius;
    background: inherit;
    overflow: hidden;
    z-index: 0;

    .sidebar {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 220px;
      background-color: #e3e2e2e8;
      border-bottom-right-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
    
      .button {
        border: none;
        background: none;
        cursor: pointer;
        transition: $buttonScaleTransition;
    
        &:hover {
          transform: scale($buttonScaleTransform);
          transition: $buttonScaleTransition;
        }
      }
    
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}








