@import '../../../../../UI/variables.scss';
@import '../../game-page.module.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .help,
    .level-game,
    .home,
    .promts {
      padding: 10px;
      border-radius: $borderRadius;
      text-align: center;
      box-shadow: $boxShadow;
    }
    .home {
      height: 90px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;  
      .icon {
        width: 70px;
        height: 70px;
      }
      &:hover:before {
        content: "На главную";
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 15px 30px;
        background-color: $blueBackground;
        color: white;
        border-radius: $borderRadius;
        right: -10px;
        top: 50%;
        transform: translate(100%, -50%);
        z-index: 2;
      }
      &:hover:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: $blueBackground;
        right: -15px;
        top: 50%;
        transform: translate(0%, -50%) rotate(45deg);
        z-index: 2;
      }
    }
    .level-game {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        text-align: left;
      }
      span:last-child {
        font-size: 26px;
        padding: 10px;
      }
    }
  
    .promts {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      span:last-child {
        font-size: 26px;
        padding: 10px;
      }
  
      span {
        text-align: left;
      }
    }
  
    .help {
      position: relative;
      cursor: pointer;
  
      .icon {
        width: 60px;
        height: 60px;
      }
  
      &:hover:before {
        content: "Подсказка";
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 15px 30px;
        background-color: $blueBackground;
        color: white;
        border-radius: $borderRadius;
        right: -10px;
        top: 50%;
        transform: translate(100%, -50%);
        z-index: 2;
      }
      &:hover:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: $blueBackground;
        right: -15px;
        top: 50%;
        transform: translate(0%, -50%) rotate(45deg);
        z-index: 2;
      }
    }
  }