@import '../../../../../UI/variables';

.layout {
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  background-color: #000000e6;
  z-index: 4;
}

$black : #302c2c;


.game__over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 70vh;
  background: #03A9F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  border-radius: $borderRadius;
  .image {
    position: absolute;
    width: 50%;
    height: 70%;
    top: 30px;
    object-position: center;
    object-fit: contain;
    z-index: -1;
  }
  h1 {
    margin-top: 10px;
    color: $textColor;
    text-transform: uppercase;
    color: $black;
  }
  .statistic {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
    .statistic-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: $borderRadius;
      width: 20%;
      text-align: center;
      background: #2196F3;
      padding: 0px 5px 5px;
      color: $black;
        .header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        padding: 5px;
      }
      .main {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        border-radius: $borderRadius;
        padding: 20px;
        background: $black;
        color: white;
        img {
          width: 25px;
          height: 25px;
        }
        span {
          white-space: nowrap;
        }
      }
    }
  }
  .options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    column-gap: 20px;
    .button {
      padding: 10px 20px;
      cursor: pointer;
      outline: none;
      border: none;
      background: white;
      border-radius: $borderRadius;
      font-size: 20px;
      width: 40%;
      color: $textColor;
      text-align: center;
      transition: $buttonScaleTransition;
      &:hover {
        transform: scale($buttonScaleTransform);
        transition: $buttonScaleTransition;
      }
      &:focus {
        background: #e3e2e2e8;
      }
      &:active {
        transform: scale(98%);
        transition: $buttonScaleTransition;
      }
    }
    a {
      padding: 10px 20px;
      cursor: pointer;
      outline: none;
      border: none;
      background: white;
      border-radius: $borderRadius;
      text-decoration: none;
      color: black;
      font-size: 20px;
      width: 40%;
      color: $textColor;
      text-align: center;
      transition: $buttonScaleTransition;
      &:hover {
        transform: scale($buttonScaleTransform);
        transition: $buttonScaleTransition;
      }
      &:focus {
        background: #e3e2e2e8;
      }
      &:active {
        transform: scale(99%);
        transition: $buttonScaleTransition;
      }
    }
  }
}


.footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
