$borderRadius : 12px;


$buttonScaleTransition : 0.2s;
$buttonScaleTransform : 103%;

$textColor : #040404;

$blueBackground : #00bcd4;

$darkBoxShadowColor: #ffffff59;
$darkMainBackgrounds : #16171b;
$darkMinorBackgrounds : #222327;
$darkOpacityLayoutBackground : #222327d4; 